;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8666 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn zombiedice.frontend.app/init}}}}}
